<div id="server-order-errors"></div>
<table>
  <tr>
    <th>Name</th>
    <th>Qty</th>
    <th>Description</th>
    <th>Date</th>
    <th>Paid</th>
    <th colspan="2"></th>
  </tr>
  <% @orders.each do |order| %>
    <%order.order_lines.each do |ol|%>
      <tr>
        <td><%= ol.product.name %></td>
        <td><%= ol.qty %></td>
        <td><%= ol.product.description %></td>
        <td><%= order.date.strftime("%m/%d/%Y") %> (mm/dd/yyy)</td>
        <td><%= ol.total_price %></td>
      </tr>
    <%end%>
  <% end %>
</table>
<br/><br/>
<a href="/products">Bact To Products</a><br/><br/>
